p {
  font-size: 28px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: DimGrey;
}

#HeaderIMG {
  width: 100%;
  padding: 0px;
}

.item1 { grid-area: augimg; }
.item2 { grid-area: augtext; }

.container {
  display: grid;
  grid: auto auto;
  grid-gap: 10px;
  padding: 10px;
  
}
