p {
  font-size: 28px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: DimGrey;
}

#HeaderIMG {
  width: 100%;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  padding: 10px;
  grid-auto-rows: minmax(200px, auto);
  
}
